/* Your tasks: 

1. Make a set of CSS variables at the root level of your CSS. 
Give them the following names and values: 

- primary-colour: rgb(197, 231, 147)
- secondary-colour: antiquewhite
- text-colour: black
- header-size: 24px
- main-text-size: 12px
- border-radius: 10px

2. Now use the variables you've just made in the following places 
in your CSS (the appearance of the website in the browser should 
still look the same after you've swapped in the variables):

- Set .plant-listing background to be your primary-colour variable.
- Set body background to be your secondary-colour variable.
- Set body text colour to be your text-colour variable.
- Set .plant-header text size to be your header-size variable.
- Set main and button text size to be your main-text-size variable.
- Set the border radius of .plant-listing, .plant-pic, and button to 
  be your border-radius variable.

3. The main-text-size value of 12px makes the text on the page a 
bit hard to read, don't you think? By only changing the value of the 
main-text-size variable, change it so that all non-heading text on 
the page is 18px instead.

4. By this point, you might be wondering why we bothered making the 
variables in the first place if the website still looks relatively the same! 
But have you noticed the button in the footer that says "Toggle 
dark mode" yet? It's time to use the power of CSS variables to hook 
it up.

a) Create a new class called ".dark-mode-theme". Only within this 
class, reassign some of the CSS variables you made earlier like so: 

- primary-colour: rgb(0, 87, 0)
- secondary-colour: black
- text-colour: white

b) In your JavaScript file between the lines indicated in toggleDarkMode, 
write a function that uses this button (with id "dark-mode-button") to toggle 
this class on and off of the class list of the body of your webpage. Use the 
darkModeButton and body variables that have already been selected at the top 
of the file. Now you have a snazzy dark mode button, thanks to the power of 
CSS variables!
*/

/* FIXME: fix css for smaller screens!! */

:root {
  --primary-colour: rgb(197, 231, 147);
  --secondary-colour: antiquewhite;
  --text-colour: black;
  --header-size: 24px;
  --main-text-size: 18px;
  --border-radius: 10px;
}

.dark-mode-theme {
  --primary-colour: rgb(0, 87, 0);
  --text-colour: white;
  --secondary-colour: black;
}

body {
  background-color: var(--secondary-colour);
  color: var(--text-colour);
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  font-size: var(--main-text-size);
}

.plant-listing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 35px 25px;
  margin: 25px;
  border-radius: var(--border-radius);
  width: 25vw;
  height: 45vh;
  text-align: center;
  background-color: var(--primary-colour);
}

.plant-header {
  font-size: var(--header-size);
}

.plant-pic {
  height: 300px;
  width: auto;
  border-radius: var(--border-radius);
}

button {
  padding: 10px;
  border-radius: var(--border-radius);
  font-size: var(--main-text-size);
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 5vh;
}
